body{
	background-color: blue;


}

p {
	background-color: white;
	text-align: center;
	
		
}
b1{
	font-size: 30;
	
	align: center;


}

#para {

	background-color: orange;
	font-size: 20;


}

.center{
	background-color: orange;
	font-size: 35;


}

